
<script>
    document.addEventListener("DOMContentLoaded", function(event) { 
        const toggleDarkMode = document.querySelector('.js-toggle-dark-mode');
    
        function setTheme(theme) {
            if (theme === 'dark') {
                jtd.setTheme('dark');
                toggleDarkMode.classList.add("dark");
                toggleDarkMode.classList.remove("light");
            } else {
                jtd.setTheme('light');
                toggleDarkMode.classList.add("light");
                toggleDarkMode.classList.remove("dark");
            }
        };

       
        jtd.addEvent(toggleDarkMode, 'click', function(){
             // event listener for manual user interaction with the theme toggle
        if (jtd.getTheme() === 'dark') {
            setTheme('light');
        } else {
            setTheme('dark');
        }
        });

        // listen for changes to the prefers-color-scheme media query
        window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', event => {
            const newColorScheme = event.matches ? "dark" : "light";
            setTheme(newColorScheme);
        });

        // set initial theme based on local setting
        if(window.matchMedia('(prefers-color-scheme: dark)').matches){
            setTheme('dark');
        } else {
            setTheme('light');
        };
    });
</script>

<svg
xmlns="http://www.w3.org/2000/svg"
class="js-toggle-dark-mode"
width="24"
height="24"
viewBox="0 0 24 24"
fill="none"
stroke="currentColor"
stroke-width="2"
stroke-linecap="round"
stroke-linejoin="round">
<circle cx="12" cy="12" r="5" />
<line x1="12" y1="1" x2="12" y2="3" />
<line x1="12" y1="21" x2="12" y2="23" />
<line x1="4.22" y1="4.22" x2="5.64" y2="5.64" />
<line x1="18.36" y1="18.36" x2="19.78" y2="19.78" />
<line x1="1" y1="12" x2="3" y2="12" />
<line x1="21" y1="12" x2="23" y2="12" />
<line x1="4.22" y1="19.78" x2="5.64" y2="18.36" />
<line x1="18.36" y1="5.64" x2="19.78" y2="4.22" />
</svg>